In [26]:
import pandas as pd
import numpy as np
import requests

In [27]:
# function to get request from api
def getAddress(lat,lon):
    url = 'https://nominatim.openstreetmap.org/reverse'
    params = {
        "format":"json",
        "lat":lat,
        "lon":lon  
    }
    response = requests.get(url,params=params)
    return response.json()

In [28]:
df = pd.read_csv('trees.csv')

In [29]:
df.head()

,CoM ID,Common Name,Scientific Name,Genus,Family,Diameter Breast Height,Year Planted,Date Planted,Age Description,Useful Life Expectency,Useful Life Expectency Value,Precinct,Located in,UploadDate,CoordinateLocation,Latitude,Longitude,Easting,Northing
0,1520729,River red gum,Eucalyptus camaldulensis,Eucalyptus,Myrtaceae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Park,24/08/2019,"(-37.79334526904956, 144.95404601277124)",-37.793345,144.954046,319858.18,5815141.87
1,1044522,Wirilda,Acacia retinoides,Acacia,Fabaceae,NaN,1998.0,26/11/1998,NaN,NaN,NaN,NaN,Park,24/08/2019,"(-37.78954415818654, 144.95077335106993)",-37.789544,144.950773,319560.75,5815557.35
2,1663464,Kurrajong,Brachychiton populneus,Brachychiton,Malvaceae,NaN,2017.0,22/05/2017,NaN,NaN,NaN,NaN,Street,24/08/2019,"(-37.80700089291643, 144.94380240127938)",-37.807001,144.943802,318989.50,5813606.76
3,1068529,Large-fruited Yellow or Blue Gum,Eucalyptus leucoxylon subsp. megalocarpa,Eucalyptus,Myrtaceae,15.0,2007.0,14/05/2007,Semi-Mature,31-60 years,60.0,NaN,Street,24/08/2019,"(-37.827599162664825, 144.90259524674994)",-37.827599,144.902595,315412.89,5811240.38
4,1044234,River red gum,Eucalyptus camaldulensis,Eucalyptus,Myrtaceae,NaN,1998.0,26/11/1998,NaN,NaN,NaN,NaN,Park,24/08/2019,"(-37.790230663205975, 144.95016161303468)",-37.790231,144.950162,319508.55,5815479.99

In [30]:
theSplits = np.array_split(df, 5)
hamza = theSplits[0]
mark = theSplits[1]
adneya = theSplits[2]
vikie = theSplits[3]
jaidv = theSplits[4]

hamza.head()

,CoM ID,Common Name,Scientific Name,Genus,Family,Diameter Breast Height,Year Planted,Date Planted,Age Description,Useful Life Expectency,Useful Life Expectency Value,Precinct,Located in,UploadDate,CoordinateLocation,Latitude,Longitude,Easting,Northing
0,1520729,River red gum,Eucalyptus camaldulensis,Eucalyptus,Myrtaceae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Park,24/08/2019,"(-37.79334526904956, 144.95404601277124)",-37.793345,144.954046,319858.18,5815141.87
1,1044522,Wirilda,Acacia retinoides,Acacia,Fabaceae,NaN,1998.0,26/11/1998,NaN,NaN,NaN,NaN,Park,24/08/2019,"(-37.78954415818654, 144.95077335106993)",-37.789544,144.950773,319560.75,5815557.35
2,1663464,Kurrajong,Brachychiton populneus,Brachychiton,Malvaceae,NaN,2017.0,22/05/2017,NaN,NaN,NaN,NaN,Street,24/08/2019,"(-37.80700089291643, 144.94380240127938)",-37.807001,144.943802,318989.50,5813606.76
3,1068529,Large-fruited Yellow or Blue Gum,Eucalyptus leucoxylon subsp. megalocarpa,Eucalyptus,Myrtaceae,15.0,2007.0,14/05/2007,Semi-Mature,31-60 years,60.0,NaN,Street,24/08/2019,"(-37.827599162664825, 144.90259524674994)",-37.827599,144.902595,315412.89,5811240.38
4,1044234,River red gum,Eucalyptus camaldulensis,Eucalyptus,Myrtaceae,NaN,1998.0,26/11/1998,NaN,NaN,NaN,NaN,Park,24/08/2019,"(-37.790230663205975, 144.95016161303468)",-37.790231,144.950162,319508.55,5815479.99

In [ ]:
theDict = dict(zip(hamza['CoM ID'],hamza['CoordinateLocation'].apply(lambda x: [float(y) for y in x[1:len(x)-1].split(",")] )))

fullAddress = {}
suburb = {}
for items in theDict:
    lat = theDict[items][0]
    lon = theDict[items][1]
    response = getAddress(lat,lon)
    fullAddress[items] = response['display_name']
    suburb[items] = response['address']['suburb']